* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
}

body {
  min-height: 135rem;
  background: #f2f2f2;
}

.card {
  width: min(90vw, 40rem);
  height: min(90vh, 80rem);
  min-height: 120rem;
  position: absolute;
  left: 50%;
  top: 5%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  border-radius: 1rem;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "sedans" "suvs" "luxury";
}

.card article {
  width: 100%;
  height: 100%;
  padding: min(6rem, calc(4vw + 3rem));
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 2fr 1fr;
      grid-template-rows: 1fr 1fr 2fr 1fr;
      grid-template-areas: "car-svg" "car-type" "paragraph" "anchor";
}

.card article img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: car-svg;
  width: min(10rem, calc(6vw + 3rem));
  height: auto;
}

.card article h2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: car-type;
  color: #f2f2f2;
  font-size: min(5rem, calc(4vw + 2rem));
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  margin: 1rem 0;
}

.card article p {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: paragraph;
  color: rgba(255, 255, 255, 0.75);
  padding: 0.5rem 0;
  font-size: min(1.8rem, calc(1.8vw + 0.8rem));
  font-weight: 400;
  line-height: 1.5;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(253, 253, 253, 0.623);
}

.card article p::-webkit-scrollbar {
  border-radius: 1rem;
  height: 0.5rem;
  width: 0.5rem;
}

.card article p::-webkit-scrollbar-thumb {
  background: rgba(253, 253, 253, 0.623);
  border-radius: 1rem;
}

.card article p::-webkit-scrollbar-track {
  display: none;
}

.card article p::-webkit-scrollbar-corner {
  background: none;
}

.card article a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: anchor;
  padding: min(1.8rem, calc(1.5vw + 0.5rem)) min(4rem, calc(3.5vw + 1rem));
  background: #f2f2f2;
  border-radius: 5rem;
  border: none;
  font-size: min(2rem, calc(2.5vw + 0.5rem));
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.card article a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.card .sedan {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sedans;
  background: #e38826;
}

.card .sedan a {
  color: #e38826;
}

.card .suv {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: suvs;
  background: #006970;
}

.card .suv a {
  color: #006970;
}

.card .luxury {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: luxury;
  background: #004241;
}

.card .luxury a {
  color: #004241;
}

.attribution {
  font-size: min(2rem, calc(2.5vw + 0.5rem));
  color: #f2f2f2;
  text-align: center;
  position: fixed;
  left: 50%;
  bottom: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(19, 33, 54, 0.952);
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  z-index: -1;
}

.attribution a {
  font-size: min(2rem, calc(2.5vw + 0.5rem));
  color: rgba(255, 255, 255, 0.75);
}

@media only screen and (min-width: 375px) {
  .card {
    width: min(90vw, 115rem);
    height: min(90vh, 65rem);
    min-height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 1rem;
    overflow: hidden;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "sedans suvs luxury" "sedans suvs luxury";
  }
  .card article {
    width: 100%;
    height: 100%;
    padding: min(6rem, calc(3vw + 1rem));
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: minmax(0.6fr, 1fr) 1fr 3fr 1fr;
        grid-template-rows: minmax(0.6fr, 1fr) 1fr 3fr 1fr;
        grid-template-areas: "car-svg" "car-type" "paragraph" "anchor";
  }
  .card article img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: car-svg;
    width: min(10rem, calc(6vw + 1rem));
    height: auto;
  }
  .card article h2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: car-type;
    color: #f2f2f2;
    font-size: min(5rem, calc(4vw + 0.5rem));
    font-family: "Big Shoulders Display", cursive;
    text-transform: uppercase;
  }
  .card article p {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: paragraph;
    color: rgba(255, 255, 255, 0.75);
    padding: 2rem 0;
    font-size: min(1.8rem, calc(1.8vw + 0.5rem));
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.8;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgba(253, 253, 253, 0.623);
  }
  .card article p::-webkit-scrollbar {
    border-radius: 1rem;
    height: 0.5rem;
    width: 0.5rem;
  }
  .card article p::-webkit-scrollbar-thumb {
    background: rgba(253, 253, 253, 0.623);
    border-radius: 1rem;
  }
  .card article p::-webkit-scrollbar-track {
    display: none;
  }
  .card article p::-webkit-scrollbar-corner {
    background: none;
  }
  .card article a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: anchor;
    padding: min(1.8rem, calc(1.5vw + 0.5rem)) min(4rem, calc(3.5vw + 1rem));
    background: #f2f2f2;
    border-radius: 5rem;
    border: none;
    font-size: min(2rem, calc(1vw + 0.5rem));
    cursor: pointer;
    text-decoration: none;
    position: relative;
    top: 40%;
  }
  .card .sedan {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: sedans;
    background: #e38826;
  }
  .card .sedan a {
    color: #e38826;
  }
  .card .suv {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: suvs;
    background: #006970;
  }
  .card .suv a {
    color: #006970;
  }
  .card .luxury {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: luxury;
    background: #004241;
  }
  .card .luxury a {
    color: #004241;
  }
  .attribution {
    font-size: min(2rem, calc(1.5vw + 0.5rem));
    color: #f2f2f2;
    text-align: center;
    position: fixed;
    left: 50%;
    bottom: 1rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: rgba(19, 33, 54, 0.952);
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    z-index: -1;
  }
  .attribution a {
    font-size: min(2rem, calc(1.5vw + 0.5rem));
    color: rgba(255, 255, 255, 0.75);
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
/*# sourceMappingURL=style.css.map */